<div class="row service-spotlight home-steps ca-module">

    <div class="col-xs-12 col-md-4">
        <div class=""> 
            <%= link_to caredes_pawn_loans_path do %>
                <div class="text-center image-wrapper">
                    <%= image_tag "home/diamond.png" ,class: "home-pawn" %>
                </div>
            <% end %>
            <p>1. Bring us and item of value</p>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class=""> 
            <%= link_to caredes_auto_loans_path do %>
                <div class="text-center image-wrapper">
                    <%= image_tag "home/license.png" ,class: "home-pawn" %>
                </div>
            <% end -%>
            <p>2. Show us a valid picture ID</p>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class=""> 
            <%= link_to caredes_cash_advances_path do %>
                <div class="text-center image-wrapper">
                    <%= image_tag "home/cash.png" ,class: "home-pawn" %>
                </div>
            <% end %>
            <p>3. Get money in minutes!</p>
        </div>
    </div>
</div>
