

 <div class="row service-spotlight">
    <div class="col-sm-12">
        <h2>We Also Offer These Great Services</h2>
    </div>
    <div class="col-xs-6 col-lg-3">
        <div class=""> 
            <%= link_to caredes_pawn_loans_path do %>
                <div class="service-spotlight-image-wrapper">
                    <%= image_tag "loan.png" ,class: "service-spotlight-image" %>
                </div>
                <h3 class="title">Pawn Loans</h3>
            <% end %>
            <p class="small">We have cash when it counts.  Pawn loans are a great option for short term, low risk loans. </p>
        </div>
    </div>
    <div class="col-xs-6 col-lg-3">
        <div class=""> 
            <%= link_to caredes_auto_loans_path do %>
                <div class="service-spotlight-image-wrapper">
                    <%= image_tag "auto-equity.png" ,class: "service-spotlight-image" %>
                </div>
                <h3 class="title">Auto Title Loans</h3>
            <% end -%>
            <p class="small">Get the cash, keep the car.  Auto Title Loans are ideal if you have less than perfect credit.</p>
        </div>
    </div>
    <div class="col-xs-6 col-lg-3">
        <div class=""> 
            <%= link_to caredes_cash_advances_path do %>
                <div class="service-spotlight-image-wrapper">
                    <%= image_tag "cash-advances.png" ,class: "service-spotlight-image" %>
                </div>
                <h3 class="title">Cash Advances</h3>
            <% end %>
            <p class="small">Because some things can't wait until payday.  A Cash Advance can help you manage unexpected expenses.</p>
        </div>
    </div>
    <div class="col-xs-6 col-lg-3">
        <div class=""> 
            <%= link_to caredes_retail_services_path do %>
                <div class="service-spotlight-image-wrapper">
                    <%= image_tag "retail-services.png" ,class: "service-spotlight-image" %>
                </div>
                <h3 class="title">Retail Services</h3>
            <% end -%>
            <p class="small">We offer many other financial services so you can Get More, Save More, Do More Today.</p>
        </div>
    </div>
</div>

<div>
    <p>Will this merge conflict? No.</p>
</div>