<% content_for :head do %>
    <%= render "caredes/modules/head", page_title: "Auto Title Loans"%>
<% end %>

<% content_for :header do %>
    <%= render "caredes/modules/header" %>
<% end %>

<% content_for :hero do %>
    <%= render "caredes/modules/hero", cols: "eight", headline_text: "Auto Title Loans" %>
<% end %>


<% content_for :main_content do %>
    <div class="page-container container"> <!-- Main Page Content -->
        <div class="row">
            <div class="main-body col-sm-8 col-sm-push-4" role="content"> <!-- Main Content -->


                <%= render "caredes/modules/article", title: "What is an Auto Title Loan?", article_text: "

Auto Title Loans


Now you can get the cash you need and keep your car in the process. With an Auto Title Loan, you can borrow from $500 to $25,000*. Even if your credit isn’t perfect, you may qualify. The process is simple and only a few items are needed to apply.
 




Here are just a few benefits:

Get The Cash, Keep The CarSM 
With an Auto Title Loan you can get from $500 to $25,000 when you qualify.*

Low monthly payments
We're here to help with payments that fit your budget. Plus, there is no penalty for paying off early.

Less than perfect credit, no problem 
Even if your credit isn’t perfect or you’ve suffered a bankruptcy, you may still qualify for an Auto Title Loan. 
 
Drive away with the cash you need today!

SAVE UP TO 70% ON APR*

Our Auto Title Loan saves you up to 70% APR versus a typical title loan. Faster, easier, and lower APR.

Up to 42 months to pay*

Many title loans have to be paid back in 30 days. Our Auto Title Loans give you up to 42 months to pay back.

Low monthly payments

We're here to help with payments that fit your budget. Plus, there is no penalty for paying off early.

No title, no problem

Even if you still owe money on your vehicle, we can help you with an Auto Title Loan. We’ll take care of all the details." 

                    %>


<!--                     <div class="row easy-steps ca-module">
                        <div class="col-sm-12">
                            <h2>
                                Getting an Auto Title Loan is Easy
                            </h2>
                        </div>
                        <div class="clearfix"></div>
                        <div class="service-right-tabs-wrapper col-sm-12">
                            <a href="#"></a>
                            <div class="service-right-tab selected" data-step="step1">
                                <span>1</span>
                                <h3 class="h4">
                                    Fill Out the Form online or in the store
                                </h3>
                            </div><a href="#"></a>
                            <div class="service-right-tab" data-step="step2">
                                <span>2</span>
                                <h3 class="h4">
                                    We Will Call You 
                                </h3>
                            </div><a href="#"></a>
                            <div class="service-right-tab" data-step="step3">
                                <span>3</span>
                                <h3 class="h4">
                                    Stop by the Store that is closest to you
                                </h3>
                            </div>
                            <div id="step1" class="col-sm-12 step-text">
                                <p>
                                    Fill out our prequalification form and Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                </p>
                            </div>
                            <div id="step2" class="col-sm-12 step-text">
                                <p>
                                    Then Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                </p>
                            </div>
                            <div id="step3" class="col-sm-12 step-text">
                                <p>
                                    Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam v
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div> -->

                    <div class="row easy-steps-2 ca-module">
                      <div class="col-sm-12">
                        <h2>
                          Getting an Auto Title Loan is Easy
                        </h2>
                      </div>

                      <div class="step-tabs-wrapper col-sm-12">                  
                        <div class="step-tab col-sm-4 selected" data-step="step1">
                          <div class="col-sm-12 indicator"></div>
                          <span>1</span>
                          <h3 class="h4 step-caption text-center">
                            Fill out our Prequalification Form
                          </h3>
                          <!-- <div class="arrow-down"></div> -->
                        </div>


                        <div class="step-tab col-sm-4" data-step="step2">
                          <div class="col-sm-12 indicator"></div>
                          <span>2</span>
                          <h3 class="h4 step-caption text-center">
                            Sign over the Title
                          </h3>
                        </div>

                        <div class="step-tab col-sm-4" data-step="step3">
                          <div class="col-sm-12 indicator"></div>
                            <span>3</span>
                            <h3 class="h4 step-caption text-center">
                              Repay your Loan
                            </h3>
                          
                        </div>
                      </div>

                      <div id="step1" class="col-sm-12 step-text">
                        <p>
                            Fill out our  
                            <%= link_to "prequalification online", caredes_auto_application_path %> 
                             or in the store.  Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam
                        </p>
                      </div>
                      <div id="step2" class="col-sm-12 step-text">
                        <p>
                            Sign over the title of the car to us.  We now own your car but you can still drive it.  Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam
                        </p>
                      </div>
                      <div id="step3" class="col-sm-12 step-text">
                        <p>
                            These loans are intended to be short term. Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam
                        </p>
                      </div>
                    </div>


            <!-- begin call to action widget -->
            
            <div class="row ca-module call-to-action">
                <div class="col-sm-12 panel call-to-action-wrapper">
                    <div class=" text">
                        <span>Fill out our application to get prequalified for an Auto Title Loan!
                        The button should center vertically according the height of this text.  That said, the content in this area should be extrememly terse.</span>
                    </div>
                    <div class=" cta">
                        <%= link_to "Fill out the Prequalification Form", caredes_auto_application_path, class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
            <!-- end call to action widget -->

            <%= render "caredes/modules/light_promo" %>
            <%= render "caredes/modules/service_spotlight" %>
            

            </div><!-- End Main Content -->



                <!-- Sidebar -->
            <aside class="side-bar col-sm-4 col-sm-pull-8">
                <div class="side-bar-inner">
                

                <%= render "caredes/modules/store_locator" %>
                
                
                <!-- subnav - refactor -->
                <div class="ca-module-asymmetric service-subnav">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a>Auto Title Loans</a>
                        </li>
                        <li>
                            <%= link_to "Apply Online", caredes_auto_application_path %>
                        </li>
                        <li>
                            <%= link_to "Frequently Asked Questions", caredes_faq_path %>
                        </li>
                        <li>
                            <a>Rates and Fees</a>
                        </li>
                    </ul>
                </div>
                <hr>

                <%= render "caredes/modules/financial_tools" %>
                

                </div>
            </aside> <!-- End Sidebar -->
        </div>

    </div>



<% end %>

<% content_for :footer do %>
    <%= render "caredes/modules/footer" %>
<% end %>