<% content_for :head do %>
    <%= render "caredes/modules/head", page_title: "Pawn Loans"%>
<% end %>

<% content_for :header do %>
    <%= render "caredes/modules/header" %>
<% end %>

<% content_for :hero do %>
    <%= render "caredes/modules/hero", cols: "eight", headline_text: "Frequently Asked Questions" %>
<% end %>


<% content_for :main_content do %>
    <div class="page-container container"> <!-- Main Page Content -->
        <div class="row">
            <div class="main-body col-sm-8 col-sm-push-4" role="content"> <!-- Main Content -->
                
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Pawn Loan FAQs
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <dl>
                            <dt>
                                Q:  How does a pawn loan work?

                            </dt>
                            <dd>
                                <p>A:  Pawn loans are a quick and easy way to borrow money without a credit check or hassle. Loans are based on the value of your collateral, not your credit rating or pay schedule. Subject to individual state laws, a typical pawn loan may have a term length of 30 days/one month, plus a 30-day/one month grace period. If you cannot pay back your pawn loan in full, including any applicable grace period, we offer extensions/renewals (where permitted by state law) to give you extra time. You may also choose to surrender your collateral as payment in full.
                                </p>
                                <p>
                                We provide pawn loans on a variety of items, including gold and diamond jewelry, electronics, musical instruments, tools, and more*. Simply bring us an item of value, along with a valid photo ID and we’ll get you money in minutes after your loan is approved. 
                                </p>
                            </dd>
                            <dt>
                                Q:  What is an extension
                            </dt>
                            <dd>
                                <p>If you are unable to pay back your pawn loan in full on its due date, you may be able to get an extension on your pawn loan, if permitted by state law. With an extension, you will be required to pay a portion of the interest owed (varies by state), then you may extend the length of your pawn loan for as many days as allowed by state law.</p>
                            </dd>


                            <dt>What is a renewal?</dt>
                            <dd><p>If you are unable to pay back your pawn loan in full on its due date, you may get a renewal, if permitted by state law. With a renewal, you pay the interest that has accrued on your pawn loan in full, and a new pawn loan is written. The principal pawn loan amount remains the same, as does the interest rate, but the due date is reset for the full loan term.</p></dd>
                                                        
                            <dt>Will I lose my merchandise?</dt>

                            <dd><p>
                                The majority of our customers repay their pawn loans and pick up their merchandise. If a customer chooses not to repay the pawn loan, the merchandise/collateral for the loan is forfeited.
                                 
                                We will also purchase items of value if you do not want to get a pawn loan.</p></dd>

                            <dt>How do you determine an item’s worth?</dt>

                            <dd><p>We base pawn loan amounts on the value of your item—its current appraised value, its current condition and our ability to sell the item. We use all the research tools we have at our disposal to determine an item’s value and get you the most money we can.
                                                         
                            The appraisal process varies depending on the type of item—for example, jewelry is evaluated differently than a DVD player. We have an internal pricing and research department that reviews thousands of items to ensure that our pawn loan values are in line with the general marketplace for pre-owned merchandise. They provide us with the item’s retail value when it was new, its pre-owned market value, and how to determine its condition.
                            
                            <dt>How do you determine the condition of an item?</dt>

                            <dd><p>The condition of an item is always taken into account during the appraisal process for a pawn loan. If one 32-inch television comes in that is in perfect condition and one 32-inch television comes in with a crack in the case, we will loan more on the TV that’s in better condition.
                             
                            When it’s general merchandise you want to pawn, we test each item to ensure it is in good working condition. This includes, but is not limited to, a visual inspection, plugging an item in and turning it on, and noting if any necessary accessories (such as remote controls) and manuals are included.
                             
                            The better the condition of your item, the more money we can loan you. This is true for any collateral.</p></dd>

                            <dt>How do you determine the value of jewelry?</dt>

                            <dd><p>When jewelry is the collateral for a pawn loan, we test the precious metals and diamonds to determine its worth.
                             
                            The diamond testing includes a visual inspection using a jeweler’s loupe, weighing the item, sizing (determining carat weight) any stones, and noting the cut/color/clarity of each—you may know this as the 4 Cs.
                             
                            In addition, we test the metal using a special acid that determines the karat of gold. This is done to ensure a clean test so there are no false readings on your item that may detract from what we can loan you.

                            How do you determine the price of gold?
                            The price of gold is based on market values, the price for which is routinely reviewed and updated by our internal pricing department. Prices can vary greatly as the loan amount for 24K gold is significantly higher than that of 14K gold.</p></dd>

                            <dt>Can you give a quote on an item over the phone?</dt>
                            <dd><p>Unfortunately, we cannot give quotes over the phone because loan amounts vary greatly depending on the condition of an item. For general merchandise, we test each item to ensure it is in good working condition. This includes, but is not limited to, a visual inspection, plugging an item in and turning it on, and noting if any necessary accessories and manuals are included. The better the condition of your item, the more money we can loan. And for jewelry, we test to ensure diamonds and gold are genuine. This testing includes a visual inspection using a jeweler’s loupe, weighing the item, sizing (determining carat weight) any diamonds, and noting the cut/color/clarity of each—you may know this as the 4 Cs. In addition, we test the metal using a special acid that determines the karat of gold.

                            <dt>Why does the loan amount differ from the selling price at local retailers or even Cash America/SuperPawn stores?</dt>

                            <dd><p>
                            Our pawn loan values are based on pre-owned retail prices, not what the item cost when it was new. Any collateral that is turned over to us and made available for sale is pre-owned and will be priced accordingly on our sales floor. The loan amount we give you is based on that selling price—and our ability to sell the item.
                             
                            We offer you as much as we can while still allowing room to pay for the cost of storage, insurance and other costs of doing business.</p></dd>

                            <dt>Is my collateral safe while in pawn?</dt>

                            <dd><p>While your item is in pawn, you still own it. It is our responsibility to keep it safe and in good condition while it’s in our care. When you give us an item for pawn, we keep all accessories (remote controls, cables, etc.) with your item and place it in a secure area. Your item is safely stored here until you come back to pay your pawn loan in full and claim your merchandise. All Cash America shops are fully insured for the loan value of the collateral we keep.</p></dd>
                            
                            <dt>Are pawnshops regulated?</dt>

                            <dd><p>Yes. States have regulated the pawn industry for decades, and most pawnbrokers are licensed and regulated by local authorities as well. We are subject to such federal laws as Truth In Lending Act, Equal Credit Opportunity Act, Fair Credit Reporting Act, Patriot Act, and Federal Trade Commission Rules on Data Privacy and Security Transfer, as well as Federal Firearms Licenses for shops that deal with firearms. At the federal level, we are regulated by the Federal Trade Commission (FTC), Bureau of Alcohol, Tobacco, Firearms and Explosives (ATF), and the Treasury Department.</p></dd>
                            
                            <dt>Can I pawn a gun?</dt>

                            <dd><p>Yes. We accept firearms as collateral for pawn loans and sell firearms in many of our locations*. We are registered as a firearms dealer and must comply with all federal regulations. In addition, Cash America adds trigger locks to every firearm as an added safety initiative and furnishes local law enforcement with information on every transaction. Cash America also has an online auction site where customers can bid on and purchase firearms. Firearms.cashamerica.com works with local dealers nationwide who perform background checks and transfer our merchandise to winning bidders.</p></dd>
                            <dt>Are pawnshops stocked with stolen merchandise?</dt>

                            <dd><p>Less than 1 percent of items are identified as stolen goods.
                                                         
                                                        Pawnshops are actually the worst place to try and get rid of stolen merchandise, despite what you see on television or in the movies. Pawnshops are highly regulated, work very closely with local and federal law enforcement officials, and train their staff to be on the lookout for and identify stolen property. In addition, Cash America’s pawnshops all utilize an Internet-based crime-fighting tool called leadsonline.com, in which every pawn transaction is shared with police departments nationwide on a daily basis.</p></dd>




                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                          Auto Title Loan FAQs
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        A<dl>
                            <dt>
                                Q:  How does a pawn loan work?

                            </dt>
                            <dd>
                                <p>A:  Pawn loans are a quick and easy way to borrow money without a credit check or hassle. Loans are based on the value of your collateral, not your credit rating or pay schedule. Subject to individual state laws, a typical pawn loan may have a term length of 30 days/one month, plus a 30-day/one month grace period. If you cannot pay back your pawn loan in full, including any applicable grace period, we offer extensions/renewals (where permitted by state law) to give you extra time. You may also choose to surrender your collateral as payment in full.
                                </p>
                                <p>
                                We provide pawn loans on a variety of items, including gold and diamond jewelry, electronics, musical instruments, tools, and more*. Simply bring us an item of value, along with a valid photo ID and we’ll get you money in minutes after your loan is approved. 
                                </p>
                            </dd>
                            <dt>
                                Q:  What is an extension
                            </dt>
                            <dd>
                                <p>If you are unable to pay back your pawn loan in full on its due date, you may be able to get an extension on your pawn loan, if permitted by state law. With an extension, you will be required to pay a portion of the interest owed (varies by state), then you may extend the length of your pawn loan for as many days as allowed by state law.</p>
                            </dd>


                            <dt>What is a renewal?</dt>
                            <dd><p>If you are unable to pay back your pawn loan in full on its due date, you may get a renewal, if permitted by state law. With a renewal, you pay the interest that has accrued on your pawn loan in full, and a new pawn loan is written. The principal pawn loan amount remains the same, as does the interest rate, but the due date is reset for the full loan term.</p></dd>
                                                        
                            <dt>Will I lose my merchandise?</dt>

                            <dd><p>
                                The majority of our customers repay their pawn loans and pick up their merchandise. If a customer chooses not to repay the pawn loan, the merchandise/collateral for the loan is forfeited.
                                 
                                We will also purchase items of value if you do not want to get a pawn loan.</p></dd>

                            <dt>How do you determine an item’s worth?</dt>

                            <dd><p>We base pawn loan amounts on the value of your item—its current appraised value, its current condition and our ability to sell the item. We use all the research tools we have at our disposal to determine an item’s value and get you the most money we can.
                                                         
                            The appraisal process varies depending on the type of item—for example, jewelry is evaluated differently than a DVD player. We have an internal pricing and research department that reviews thousands of items to ensure that our pawn loan values are in line with the general marketplace for pre-owned merchandise. They provide us with the item’s retail value when it was new, its pre-owned market value, and how to determine its condition.
                            
                            <dt>How do you determine the condition of an item?</dt>

                            <dd><p>The condition of an item is always taken into account during the appraisal process for a pawn loan. If one 32-inch television comes in that is in perfect condition and one 32-inch television comes in with a crack in the case, we will loan more on the TV that’s in better condition.
                             
                            When it’s general merchandise you want to pawn, we test each item to ensure it is in good working condition. This includes, but is not limited to, a visual inspection, plugging an item in and turning it on, and noting if any necessary accessories (such as remote controls) and manuals are included.
                             
                            The better the condition of your item, the more money we can loan you. This is true for any collateral.</p></dd>

                            <dt>How do you determine the value of jewelry?</dt>

                            <dd><p>When jewelry is the collateral for a pawn loan, we test the precious metals and diamonds to determine its worth.
                             
                            The diamond testing includes a visual inspection using a jeweler’s loupe, weighing the item, sizing (determining carat weight) any stones, and noting the cut/color/clarity of each—you may know this as the 4 Cs.
                             
                            In addition, we test the metal using a special acid that determines the karat of gold. This is done to ensure a clean test so there are no false readings on your item that may detract from what we can loan you.

                            How do you determine the price of gold?
                            The price of gold is based on market values, the price for which is routinely reviewed and updated by our internal pricing department. Prices can vary greatly as the loan amount for 24K gold is significantly higher than that of 14K gold.</p></dd>

                            <dt>Can you give a quote on an item over the phone?</dt>
                            <dd><p>Unfortunately, we cannot give quotes over the phone because loan amounts vary greatly depending on the condition of an item. For general merchandise, we test each item to ensure it is in good working condition. This includes, but is not limited to, a visual inspection, plugging an item in and turning it on, and noting if any necessary accessories and manuals are included. The better the condition of your item, the more money we can loan. And for jewelry, we test to ensure diamonds and gold are genuine. This testing includes a visual inspection using a jeweler’s loupe, weighing the item, sizing (determining carat weight) any diamonds, and noting the cut/color/clarity of each—you may know this as the 4 Cs. In addition, we test the metal using a special acid that determines the karat of gold.

                            <dt>Why does the loan amount differ from the selling price at local retailers or even Cash America/SuperPawn stores?</dt>

                            <dd><p>
                            Our pawn loan values are based on pre-owned retail prices, not what the item cost when it was new. Any collateral that is turned over to us and made available for sale is pre-owned and will be priced accordingly on our sales floor. The loan amount we give you is based on that selling price—and our ability to sell the item.
                             
                            We offer you as much as we can while still allowing room to pay for the cost of storage, insurance and other costs of doing business.</p></dd>

                            <dt>Is my collateral safe while in pawn?</dt>

                            <dd><p>While your item is in pawn, you still own it. It is our responsibility to keep it safe and in good condition while it’s in our care. When you give us an item for pawn, we keep all accessories (remote controls, cables, etc.) with your item and place it in a secure area. Your item is safely stored here until you come back to pay your pawn loan in full and claim your merchandise. All Cash America shops are fully insured for the loan value of the collateral we keep.</p></dd>
                            
                            <dt>Are pawnshops regulated?</dt>

                            <dd><p>Yes. States have regulated the pawn industry for decades, and most pawnbrokers are licensed and regulated by local authorities as well. We are subject to such federal laws as Truth In Lending Act, Equal Credit Opportunity Act, Fair Credit Reporting Act, Patriot Act, and Federal Trade Commission Rules on Data Privacy and Security Transfer, as well as Federal Firearms Licenses for shops that deal with firearms. At the federal level, we are regulated by the Federal Trade Commission (FTC), Bureau of Alcohol, Tobacco, Firearms and Explosives (ATF), and the Treasury Department.</p></dd>
                            
                            <dt>Can I pawn a gun?</dt>

                            <dd><p>Yes. We accept firearms as collateral for pawn loans and sell firearms in many of our locations*. We are registered as a firearms dealer and must comply with all federal regulations. In addition, Cash America adds trigger locks to every firearm as an added safety initiative and furnishes local law enforcement with information on every transaction. Cash America also has an online auction site where customers can bid on and purchase firearms. Firearms.cashamerica.com works with local dealers nationwide who perform background checks and transfer our merchandise to winning bidders.</p></dd>
                            <dt>Are pawnshops stocked with stolen merchandise?</dt>

                            <dd><p>Less than 1 percent of items are identified as stolen goods.
                                                         
                                                        Pawnshops are actually the worst place to try and get rid of stolen merchandise, despite what you see on television or in the movies. Pawnshops are highly regulated, work very closely with local and federal law enforcement officials, and train their staff to be on the lookout for and identify stolen property. In addition, Cash America’s pawnshops all utilize an Internet-based crime-fighting tool called leadsonline.com, in which every pawn transaction is shared with police departments nationwide on a daily basis.</p></dd>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                          Cash Advance FAQs
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <dl>
                            <dt>
                                Q:  What are Cash Advances?
                            </dt>
                            <dd>
                                <p>A:  A cash advance is a short-term loan or deferred deposit transaction. They can be a convenient and practical short-term credit option. By using a cash advance responsibly, you can effectively deal with unexpected financial emergencies. 
                                A single payday advance is typically for two to four weeks. However, borrowers often use these loans over a period of months, which can be expensive. Payday advances are not recommended as long-term financial solutions.
                                </p>
                            </dd>
                            <dt>
                                Q:  What is an extension
                            </dt>
                            <dd>
                                <p>If you are unable to pay back your pawn loan in full on its due date, you may be able to get an extension on your pawn loan, if permitted by state law. With an extension, you will be required to pay a portion of the interest owed (varies by state), then you may extend the length of your pawn loan for as many days as allowed by state law.</p>
                            </dd>


                            <dt>Q. What is a renewal?</dt>
                            <dd><p>If you are unable to pay back your pawn loan in full on its due date, you may get a renewal, if permitted by state law. With a renewal, you pay the interest that has accrued on your pawn loan in full, and a new pawn loan is written. The principal pawn loan amount remains the same, as does the interest rate, but the due date is reset for the full loan term.</p></dd>
                                                        
                            <dt>Q. Will I lose my merchandise?</dt>

                            <dd><p>
                                The majority of our customers repay their pawn loans and pick up their merchandise. If a customer chooses not to repay the pawn loan, the merchandise/collateral for the loan is forfeited.
                                 
                                We will also purchase items of value if you do not want to get a pawn loan.</p></dd>

                            <dt>Q. How do you determine an item’s worth?</dt>

                            <dd><p>We base pawn loan amounts on the value of your item—its current appraised value, its current condition and our ability to sell the item. We use all the research tools we have at our disposal to determine an item’s value and get you the most money we can.
                                                         
                            The appraisal process varies depending on the type of item—for example, jewelry is evaluated differently than a DVD player. We have an internal pricing and research department that reviews thousands of items to ensure that our pawn loan values are in line with the general marketplace for pre-owned merchandise. They provide us with the item’s retail value when it was new, its pre-owned market value, and how to determine its condition.
                            
                            <dt>Q. How do you determine the condition of an item?</dt>

                            <dd><p>The condition of an item is always taken into account during the appraisal process for a pawn loan. If one 32-inch television comes in that is in perfect condition and one 32-inch television comes in with a crack in the case, we will loan more on the TV that’s in better condition.
                             
                            When it’s general merchandise you want to pawn, we test each item to ensure it is in good working condition. This includes, but is not limited to, a visual inspection, plugging an item in and turning it on, and noting if any necessary accessories (such as remote controls) and manuals are included.
                             
                            The better the condition of your item, the more money we can loan you. This is true for any collateral.</p></dd>

                            <dt>Q. How do you determine the value of jewelry?</dt>

                            <dd><p>When jewelry is the collateral for a pawn loan, we test the precious metals and diamonds to determine its worth.
                             
                            The diamond testing includes a visual inspection using a jeweler’s loupe, weighing the item, sizing (determining carat weight) any stones, and noting the cut/color/clarity of each—you may know this as the 4 Cs.
                             
                            In addition, we test the metal using a special acid that determines the karat of gold. This is done to ensure a clean test so there are no false readings on your item that may detract from what we can loan you.

                            How do you determine the price of gold?
                            The price of gold is based on market values, the price for which is routinely reviewed and updated by our internal pricing department. Prices can vary greatly as the loan amount for 24K gold is significantly higher than that of 14K gold.</p></dd>

                            <dt>Q. Can you give a quote on an item over the phone?</dt>
                            <dd><p>Unfortunately, we cannot give quotes over the phone because loan amounts vary greatly depending on the condition of an item. For general merchandise, we test each item to ensure it is in good working condition. This includes, but is not limited to, a visual inspection, plugging an item in and turning it on, and noting if any necessary accessories and manuals are included. The better the condition of your item, the more money we can loan. And for jewelry, we test to ensure diamonds and gold are genuine. This testing includes a visual inspection using a jeweler’s loupe, weighing the item, sizing (determining carat weight) any diamonds, and noting the cut/color/clarity of each—you may know this as the 4 Cs. In addition, we test the metal using a special acid that determines the karat of gold.

                            <dt>Q. Why does the loan amount differ from the selling price at local retailers or even Cash America/SuperPawn stores?</dt>

                            <dd><p>
                            Our pawn loan values are based on pre-owned retail prices, not what the item cost when it was new. Any collateral that is turned over to us and made available for sale is pre-owned and will be priced accordingly on our sales floor. The loan amount we give you is based on that selling price—and our ability to sell the item.
                             
                            We offer you as much as we can while still allowing room to pay for the cost of storage, insurance and other costs of doing business.</p></dd>

                            <dt>Q. Is my collateral safe while in pawn?</dt>

                            <dd><p>While your item is in pawn, you still own it. It is our responsibility to keep it safe and in good condition while it’s in our care. When you give us an item for pawn, we keep all accessories (remote controls, cables, etc.) with your item and place it in a secure area. Your item is safely stored here until you come back to pay your pawn loan in full and claim your merchandise. All Cash America shops are fully insured for the loan value of the collateral we keep.</p></dd>
                            
                            <dt>Q. Are pawnshops regulated?</dt>

                            <dd>
                                <p>Yes. States have regulated the pawn industry for decades, and most pawnbrokers are licensed and regulated by local authorities as well. We are subject to such federal laws as Truth In Lending Act, Equal Credit Opportunity Act, Fair Credit Reporting Act, Patriot Act, and Federal Trade Commission Rules on Data Privacy and Security Transfer, as well as Federal Firearms Licenses for shops that deal with firearms. At the federal level, we are regulated by the Federal Trade Commission (FTC), Bureau of Alcohol, Tobacco, Firearms and Explosives (ATF), and the Treasury Department.</p>
                            </dd>
                            
                            <dt>Q. Can I pawn a gun?</dt>

                            <dd>
                                <p>Yes. We accept firearms as collateral for pawn loans and sell firearms in many of our locations*. We are registered as a firearms dealer and must comply with all federal regulations. In addition, Cash America adds trigger locks to every firearm as an added safety initiative and furnishes local law enforcement with information on every transaction. Cash America also has an online auction site where customers can bid on and purchase firearms. Firearms.cashamerica.com works with local dealers nationwide who perform background checks and transfer our merchandise to winning bidders.</p>
                            </dd>

                            <dt>Q. Are pawnshops stocked with stolen merchandise?</dt>

                            <dd>
                                <p>Less than 1 percent of items are identified as stolen goods.
                                Pawnshops are actually the worst place to try and get rid of stolen merchandise, despite what you see on television or in the movies. Pawnshops are highly regulated, work very closely with local and federal law enforcement officials, and train their staff to be on the lookout for and identify stolen property. In addition, Cash America’s pawnshops all utilize an Internet-based crime-fighting tool called leadsonline.com, in which every pawn transaction is shared with police departments nationwide on a daily basis.
                                </p>                        
                            </dd>
                      </div>
                    </div>
                  </div>
                </div>


            </div><!-- End Main Content -->



                <!-- Sidebar -->
            <aside class="side-bar col-sm-4 col-sm-pull-8">
                <div class="side-bar-inner">
                

                    <%= render "caredes/modules/store_locator" %>
                    
                    
                    <!-- subnav - refactor -->
                    <div class="module service-subnav">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a>Pawn Loans</a>
                            </li>
                            <li>
                                <%= link_to "Frequently Asked Questions", caredes_faq_path %>
                            </li>
                        </ul>
                    </div>
                    <hr>

                
                </div>
            </aside> <!-- End Sidebar -->
        </div>

    </div>



<% end %>

<% content_for :footer do %>
    <%= render "caredes/modules/footer" %>
<% end %>