<% content_for :head do %>
    <%= render "caredes/modules/head", page_title: "Two Column Template" %>
<% end %>

<% content_for :header do %>
    <%#= render "caredes/modules/header" %>
<% end %>

<% content_for :hero do %>
    <%= render "caredes/modules/hero", cols: "eight", headline_text: "Templates and Components" %>
<% end %>


<% content_for :main_content do %>
    <div class="page-container container"> <!-- Main Page Content -->
        <div class="row">
            <div class="main-body col-sm-8 col-sm-push-4" role="content"> <!-- Main Content -->

                <h2>h2 Layout Templates</h2>
                   <ul>
                       <li>
                            <%= link_to "Two Column Template", caredes_caredes_tcc_path %>
                       </li>

                       <li>
                            <%= link_to "One Column Template", caredes_caredes_occ_path %>
                       </li>
                   </ul>

            <!--       <h2>h2 Unordered List</h2>
                   <ul>
                       <li>
                           <%= link_to "Link Text", caredes_caredes_tcc_path %>
                       </li>

                       <li>
                           <%= link_to "Link Text", caredes_caredes_occ_path %>
                       </li>

                       <li>
                           Plain Text
                       </li>

                       <li>
                           Plain Text
                       </li>
                   </ul>

                   <h2>h2 Description List</h2>
                   <dl>
                       <dt>description term</dt>
                       <dd>description definition</dd>

                       <dt>description term</dt>
                       <dd>description definition</dd>
                       <dd>description definition</dd>

                       <dt>description term</dt>
                       <dd>description definition</dd>
                       <dd>description definition</dd>
                       <dd>description definition</dd>
                   </dl>

                   <h3>h3 Short Paragraph</h3>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                   tempor incididunt ut labore et dolore magna aliqua. </p>
            -->
            </div><!-- End Main Content -->



                <!-- Sidebar -->
            <aside class="side-bar col-sm-4 col-sm-pull-8">
                <div class="side-bar-inner">
                   <!-- <h2>Unordered List</h2>
                    <ul>
                        <li>
                            <%= link_to "Link Text", caredes_caredes_tcc_path %>
                        </li>

                        <li>
                            <%= link_to "Link Text", caredes_caredes_occ_path %>
                        </li>

                        <li>
                            Plain Text
                        </li>

                        <li>
                            Plain Text
                        </li>
                    </ul>

                    <h2>Description List</h2>
                    <dl>
                        <dt>description term</dt>
                        <dd>description definition</dd>

                        <dt>description term</dt>
                        <dd>description definition</dd>
                        <dd>description definition</dd>

                        <dt>description term</dt>
                        <dd>description definition</dd>
                        <dd>description definition</dd>
                        <dd>description definition</dd>
                    </dl>

                    <h3>short paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. </p> -->

                    <!-- store locator -->
                    <section class="module--store-locator">
                        <div class="twelve columns">
                            <h1 class="module-heading">
                                <span aria-hidden="true" data-icon="&#xe02f;" class="icon icon-location-17-icon"></span><span class="module-heading__text">Find a Store Near You</span>
                            </h1>

                            <div class="row">
                                <div class="twelve columns">
                                    <div class="module-body row collapse">
                                        <div class="ten mobile-three columns">
                                            <input type="text" placeholder="Zip or City and State"/>
                                        </div>
                                        <div class="two mobile-one columns">
                                            <a class="button expand postfix">Go</a>
                                        </div>
                                    </div>
                                    <hr class="side">
                                </div>
                            </div>
                        </div>
                    </section> 
                    <!-- end widget -->


                </div>
            </aside> <!-- End Sidebar -->
        </div>

    </div>








<% end %>

<% content_for :footer do %>
    <%= render "caredes/modules/footer" %>
<% end %>