<% content_for :head do %>
    <%= render "caredes/modules/head", page_title: "Home Page" %>
<% end %>

<% content_for :header do %>
    <%= render "caredes/modules/header" %>
<% end %>

<% content_for :hero do %>
    <%= render "caredes/modules/home_hero" %>
<% end %>


<% content_for :main_content do %>
<!--     <div class="page-container container"> <!-- Main Page Content 
        <div class="row">
            <div class="main-body col-sm-12" role="content"> <!-- Main Content 


                <%= render "caredes/modules/service_spotlight" %>
                

            </div><!-- End Main Content
        </div>

    </div> -->

<div class="color-section">
    <div class="container">
        <%= render "caredes/modules/promotions", orientation: "img-left", title: "Save More Money", cta: "Save More for Dad", image: "hammer.png" %>

        <%= render "caredes/modules/promotions", title: "Save More Money", cta: "Save More for Dad", image: "ring_hor.png" %>

        <%= render "caredes/modules/promotions", orientation: "img-left", title: "Save More Money", cta: "Save More for Dad", image: "ipad.png" %>
    </div>
</div>

<div class="color-section callout ca-module bg-image-wrapper">
    <%= image_tag "home/deal-bw.png", class: "bg-image" %>
    <div class="container">
        <div class="color-bg row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="circle">1</div>
                    </div>
                    <div class="col-xs-4">
                        <div class="circle">2</div>
                    </div>
                    <div class="col-xs-4">
                        <div class="circle">3</div>
                    </div>
                </div>
            </div>
            <h2 class="text-center col-sm-8 col-sm-offset-2 h1 color-ie8">
                Turn Your Items into Cash in Three Easy Steps
            </h2>
        </div>
    </div>

</div>

<div class="color-section">
    <div class="container">


        <%= render "caredes/modules/home_steps" %>

        <%= render "caredes/modules/promotions", orientation: "img-left", title: "Save More Money", cta: "Save More for Dad", image: "keys.jpg" %>


        <%= render "caredes/modules/promotions", title: "Save More Money", cta: "Save More for Dad", image: "laptop.jpg" %>
    </div>
</div>

<% end %>

<% content_for :footer do %>
    <%= render "caredes/modules/footer" %>
<% end %>