<% content_for :head do %>
    <%= render "caredes/modules/head", page_title: "Pawn Loans"%>
<% end %>

<% content_for :header do %>
    <%#= render "caredes/modules/header" %>
<% end %>

<% content_for :hero do %>
    <%= render "caredes/modules/hero", cols: "eight", headline_text: "Pawn Loans" %>
<% end %>


<% content_for :main_content do %>
    <div class="page-container container"> <!-- Main Page Content -->
        <div class="row">
            <div class="main-body col-sm-8 col-sm-push-4" role="content"> <!-- Main Content -->
                
                <%= render "caredes/modules/article", title: "What is a Pawn Loan?", article_text: "We use all the research tools we have at our disposal to determine an item’s value and get you the most money we can. This appraisal process for a pawn item varies depending on the type of item—for example, jewelry is evaluated differently than a DVD player—but every appraisal is done with the intent of getting you the money you need.
                    What It's Worth

                    Our pawnshops are routinely audited by an Internal Audit & Security Department, and work closely with local law enforcement officials.
                    Vivamus tincidunt facilisis nisl, eget scelerisque est pretium sed. Vivamus sagittis vel metus id varius. Duis tristique ultricies odio vitae placerat. Phasellus ac est eu orci blandit elementum. Etiam imperdiet eu massa vel congue. Aenean tincidunt tincidunt sem. Nulla viverra, leo eget aliquam cursus, diam dui eleifend diam, eu consectetur tellus velit non arcu. " 
                    %>
<%# 
                    <div class="row easy-steps ca-module">
                        <div class="col-sm-12">
                            <h2>
                                Getting a Pawn Loan is Easy
                            </h2>
                        </div>
                        <div class="clearfix"></div>
                        <div class="service-right-tabs-wrapper col-sm-12">
                            <a href="#"></a>
                            <div class="service-right-tab selected" data-step="step1">
                                <span>1</span>
                                <h3>
                                    Bring Us an Item of Vaue
                                </h3>
                            </div><a href="#"></a>
                            <div class="service-right-tab" data-step="step2">
                                <span>2</span>
                                <h3>
                                    Show Us a Valid Picture ID
                                </h3>
                            </div><a href="#"></a>
                            <div class="service-right-tab" data-step="step3">
                                <span>3</span>
                                <h3>
                                    Get Money in Minutes!
                                </h3>
                            </div>
                            <div id="step1" class="col-sm-12 step-text">
                                <p>
                                    We loan on almost anything and stock almost everything, including gold and diamond jewelry, watches, tools, electronics, musical instruments, cameras, game systems, video games, DVDs/CDs, firearms and more*. Simply present your item (collateral) to one of our friendly customer service representatives for a loan appraisal and you'll have a loan appraisal in minutes.
                                </p>
                                <p>
                                    Pawn loans are based on the value of your item—its current value and its current condition. We have an internal pricing department that researches thousands of items so we know what the item’s retail value was when it was new, what it sells for used, and how to determine its condition (good, better, best). At Cash America, you can feel confident that you are getting a fair price for your collateral.
                                </p>
                            </div>

                            <div id="step2" class="col-sm-12 step-text">
                                <p>
                                    Step 2 Text: We loan on almost anything and stock almost everything, including gold and diamond jewelry, watches, tools, electronics, musical instruments, cameras, game systems, video games, DVDs/CDs, firearms and more*. Simply present your item (collateral) to one of our friendly customer service representatives for a loan appraisal and you'll have a loan appraisal in minutes.
                                </p>
                            </div>

                            <div id="step3" class="col-sm-12 step-text">
                                <p>
                                    Step 3 Text:  how to determine its condition (good, better, best). At Cash America, you can feel confident that you are getting a fair price for your collateral.
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
%>

                    <!-- easys teps 2 -->

                    <div class="row easy-steps-2 ca-module">
                      <div class="col-sm-12">
                        <h2>
                          Getting a Pawn Loan is Easy
                        </h2>
                      </div>

                      <div class="step-tabs-wrapper col-sm-12">                  
                        <div class="step-tab col-sm-4 selected" data-step="step1">
                          <div class="col-sm-12 indicator"></div>
                          <span>1</span>
                          <h3 class="h4 step-caption text-center">
                            Bring in your Collateral
                          </h3>
                          <!-- <div class="arrow-down"></div> -->
                        </div>


                        <div class="step-tab col-sm-4" data-step="step2">
                          <div class="col-sm-12 indicator"></div>
                          <span>2</span>
                          <h3 class="h4 step-caption text-center">
                            Get some cash
                          </h3>
                        </div>

                        <div class="step-tab col-sm-4" data-step="step3">
                          <div class="col-sm-12 indicator"></div>
                            <span>3</span>
                            <h3 class="h4 step-caption text-center">
                              Repay your loan
                            </h3>
                          
                        </div>
                      </div>

                      <div id="step1" class="col-sm-12 step-text">
                        <p>
                            Bring us some stuff and we will agree on a loan amount.  We appraise your item based on several factors, form and Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                        </p>
                      </div>
                      <div id="step2" class="col-sm-12 step-text">
                        <p>
                            Take your cash and open an online business.  We will hold your stuff for 90 days or so, during which you can be assured that it is safe and secure, guarded by Smaug, a most specially greedy, strong and wicked worm.  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                        </p>
                      </div>
                      <div id="step3" class="col-sm-12 step-text">
                        <p>
                            Or not.  It's up to you.  Items held for over 90 days become part of our inventory and available for purchase by anyone, that is if they don't become lodged between the scales of Smaug's belly.  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                        </p>
                      </div>
                    </div>


                    <%= render "caredes/modules/call_to_action" %>
                    
                    <%= render "caredes/modules/promotions" %>
                    
                    <%= render "caredes/modules/service_spotlight" %>

                    <%= render "caredes/modules/disclaimer" %>


            </div><!-- End Main Content -->



                <!-- Sidebar -->
            <aside class="side-bar col-sm-4 col-sm-pull-8">
                <div class="side-bar-inner">
                

                    <%= render "caredes/modules/store_locator" %>
                    
                    
                    <!-- subnav - refactor -->
                    <div class="ca-module-asymmetric service-subnav">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a>Pawn Loans</a>
                            </li>
                            <li>
                                <%= link_to "Frequently Asked Questions", caredes_faq_path %>
                            </li>
                        </ul>
                    </div>
                    <hr>

                    <%= render "caredes/modules/financial_tools" %>
                
                </div>
            </aside> <!-- End Sidebar -->
        </div>
    </div>
<% end %>

<% content_for :footer do %>
    <%= render "caredes/modules/footer" %>
<% end %>