<% content_for :head do %>
		<%= render "caredes/modules/head", page_title: "Two Column Template" %>
<% end %>

<% content_for :header do %>
		<%#= render "caredes/modules/header" %>
<% end %>

<% content_for :hero do %>
		<%= render "caredes/modules/hero", cols: "eight", headline_text: "Templates and Components" %>
<% end %>


<% content_for :main_content do %>
		<div class="page-container container"> <!-- Main Page Content -->
				<div class="row">
						<div class="main-body col-sm-8 col-sm-push-4" role="content"> <!-- Main Content -->


              <div class="row easy-steps ca-module">
                  <div class="col-sm-12">
                      <h2>
                          Getting an Auto Title Loan is Easy
                      </h2>
                  </div>
                  <div class="clearfix"></div>
                  <div class="service-right-tabs-wrapper col-sm-12">
                      <a href="#"></a>
                      <div class="service-right-tab selected" data-step="step1">
                          <span>1</span>
                          <h3 class="h4">
                              Fill Out the Form online or in the store
                          </h3>
                      </div><a href="#"></a>
                      <div class="service-right-tab" data-step="step2">
                          <span>2</span>
                          <h3 class="h4">
                              We Will Call You 
                          </h3>
                      </div><a href="#"></a>
                      <div class="service-right-tab" data-step="step3">
                          <span>3</span>
                          <h3 class="h4">
                              Stop by the Store that is closest to you
                          </h3>
                      </div>
                      <div id="step1" class="col-sm-12 step-text">
                          <p>
                              Fill out our prequalification form and Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                          </p>
                      </div>
                      <div id="step2" class="col-sm-12 step-text">
                          <p>
                              Then Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                          </p>
                      </div>
                      <div id="step3" class="col-sm-12 step-text">
                          <p>
                              Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam v
                          </p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div>


 <!-- easys teps 2 -->

              <div class="row easy-steps-2 ca-module">
                <div class="col-sm-12">
                    <h2>
                        Getting an Auto Title Loan is Easy
                    </h2>
                </div>

                <div class="step-tabs-wrapper col-sm-12">                  
                  <div class="step-tab col-sm-4 selected">
                    <h3 class="h4 text-center">
                      <span class="glyphicon glyphicon-star"></span> Step 1
                    </h3>
                  </div>

                  <div class="step-tab col-sm-4">
                    <h3 class="h4 text-center">
                      <span class="glyphicon glyphicon-star"></span> Step 2
                    </h3>
                  </div>

                  <div class="step-tab col-sm-4">
                    <h3 class="h4 text-center">
                      <span class="glyphicon glyphicon-star"></span> Step 3
                    </h3>
                  </div>
                </div>

              </div>


              <%= render "caredes/modules/article", title: "What is a Pawn Loan?", article_text: "We use all the research tools we have at our disposal to determine an item’s value and get you the most money we can. This appraisal process for a pawn item varies depending on the type of item—for example, jewelry is evaluated differently than a DVD player—but every appraisal is done with the intent of getting you the money you need." %>

 
              <%= render "caredes/modules/disclaimer" %>

              

              <h2>h2 Layout Templates</h2>
              <h3>h3 heading text</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente sint a error ab id esse inventore omnis explicabo voluptate ipsum numquam veniam cupiditate eligendi perspiciatis libero pariatur nulla at nostrum!
              </p>
              <ul>
                <li>
                  <%= link_to "Two Column Template", caredes_caredes_tcc_path %>
                </li>

                <li>
                  <%= link_to "One Column Template", caredes_caredes_occ_path %>
                </li>
              </ul>

						</div><!-- End Main Content -->


                <!-- Sidebar -->
            <aside class="side-bar col-sm-4 col-sm-pull-8">
                <div class="side-bar-inner">
                

                    <%= render "caredes/modules/store_locator" %>
                    
                    
                    <!-- subnav - refactor -->
                    <div class="ca-module service-subnav">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a>Pawn Loans</a>
                            </li>
                            <li>
                                <%= link_to "Frequently Asked Questions", caredes_faq_path %>
                            </li>
                        </ul>
                    </div>
                    <hr>

                
                </div>
            </aside> <!-- End Sidebar -->


				</div>
		</div>








<% end %>

<% content_for :footer do %>
		<%= render "caredes/modules/footer" %>
<% end %>