<% content_for :head do %>
		<%= render "caredes/modules/head", page_title: "Two Column Template" %>
<% end %>

<% content_for :header do %>
		<%#= render "caredes/modules/header" %>
<% end %>

<% content_for :hero do %>
		<%= render "caredes/modules/hero", cols: "eight", headline_text: "Templates and Components" %>
<% end %>


<% content_for :main_content do %>
		<div class="page-container container"> <!-- Main Page Content -->
				<div class="row">
						<div class="main-body col-sm-8 col-sm-push-4" role="content"> <!-- Main Content -->

              <h2>h2 Layout Templates</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente sint a error ab id esse inventore omnis explicabo voluptate ipsum numquam veniam cupiditate eligendi perspiciatis libero pariatur nulla at nostrum!
              </p>

              <h3>h3 Heading Test </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum a saepe unde libero quam nihil consectetur impedit dolorem velit assumenda animi explicabo quaerat repellendus sint odio quidem deleniti cumque! Nam?

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae laudantium dolore asperiores reiciendis vitae nulla exercitationem ipsam iure consequuntur neque aspernatur doloribus vero explicabo quibusdam provident necessitatibus suscipit odio corporis!
              </p>
              
              <ul>
                <li>
                  <%= link_to "Two Column Template", caredes_caredes_tcc_path %>
                </li>

                <li>
                  <%= link_to "One Column Template", caredes_caredes_occ_path %>
                </li>
              </ul>


              <%= render "caredes/modules/article", title: "What is a Pawn Loan?", article_text: "We use all the research tools we have at our disposal to determine an item’s value and get you the most money we can. This appraisal process for a pawn item varies depending on the type of item—for example, jewelry is evaluated differently than a DVD player—but every appraisal is done with the intent of getting you the money you need." %>


						</div><!-- End Main Content -->



				</div>
		</div>








<% end %>

<% content_for :footer do %>
		<%= render "caredes/modules/footer" %>
<% end %>