<% content_for :head do %>
<%= render "caredes/modules/head", page_title: "Two Column Template" %>
<% end %>

<% content_for :header do %>
<%#= render "caredes/modules/header" %>
<% end %>

<% content_for :hero do %>
<%= render "caredes/modules/hero", cols: "eight", headline_text: "Templates and Components" %>
<% end %>


<% content_for :main_content do %>
<div class="page-container container"> <!-- Main Page Content -->
  <div class="row">
    <div class="main-body col-sm-8 col-sm-push-4" role="content"> <!-- Main Content -->


      <%= render "caredes/modules/promotions" %>

      <div class="row ca-module promos">        
          <div class="promos-image-wrapper col-sm-4">
            <%= image_tag "http://placehold.it/300x321", class: "img-cover hidden-xs" %>
          </div>        

          <div class="col-sm-8">
            <h3>Check Out Our Ebay Store</h3>
            <p>Promo Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, fuga, error commodi nostrum qui perspiciatis voluptate quidem sit iste minima veritatis ducimus. Accusantium, illum, fugit velit nam ab ad saepe.</p>

            <p>Promo Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, fuga, error commodi nostrum qui perspiciatis voluptate quidem sit iste minima veritatis ducimus. Accusantium, illum, fugit velit nam ab ad saepe.</p>

            <%= link_to "Call To Action", "http://www.google.com", class: "btn btn-primary" %>
          </div>
      </div>


      <div class="row ca-module promos-light">        
          <div class="col-sm-12 target">
            <h3>Check Out Our Ebay Store</h3>
            <p>Promo Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, fuga, error commodi nostrum qui perspiciatis voluptate quidem sit iste minima veritatis ducimus. Accusantium, illum, fugit velit nam ab ad saepe.</p>

            <p>Promo Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, fuga, error commodi nostrum qui perspiciatis voluptate quidem sit iste minima veritatis ducimus. Accusantium, illum, fugit velit nam ab ad saepe.</p>

            <%= link_to "Call To Action", "http://www.google.com", class: "btn btn-primary" %>
          </div>
      </div>


      <div class="row ca-module j-promo">
          <div class="col-sm-12 wrapper">
              <div class="row">
                  <div class="col-sm-6 text">
                      <h2>
                        Save More Today
                      </h2>
                      <p>
                          Promo Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, fuga, error commodi nostrum qui perspiciatis voluptate quidem sit iste minima veritatis ducimus. Accusantium, illum, fugit velit nam ab ad saepe.
                      </p>

                      <%= link_to "Call To Action", "http://www.google.com", class: "btn btn-secondary" %>

                      <%= link_to "Call To Action", "http://stores.ebay.com/cashamericainternetsales", class: "sidebar-link" %>
                  </div>

                  <div class="col-sm-6 image">
                      <%= image_tag "hammer.png", class: "img-responsive" %>
                  </div>
              </div>
          </div>
      </div>

      <!-- easys teps 2 -->

      <div class="row easy-steps-2 ca-module">
        <div class="col-sm-12">
          <h2>
            Getting an Auto Title Loan is Easy
          </h2>
        </div>

        <div class="step-tabs-wrapper col-sm-12">                  
          <div class="step-tab col-sm-4 selected" data-step="step1">
            <div class="col-sm-12 indicator"></div>
            <span>1</span>
            <h3 class="h4 step-caption text-center">
              Fill Out the Form online or in the store
            </h3>
            <!-- <div class="arrow-down"></div> -->
          </div>


          <div class="step-tab col-sm-4" data-step="step2">
            <div class="col-sm-12 indicator"></div>
            <span>2</span>
            <h3 class="h4 step-caption text-center">
              We Will Call You
            </h3>
          </div>

          <div class="step-tab col-sm-4" data-step="step3">
            <div class="col-sm-12 indicator"></div>
              <span>3</span>
              <h3 class="h4 step-caption text-center">
                Stop by the Store Closest to You
              </h3>
            
          </div>
        </div>

        <div id="step1" class="col-sm-12 step-text">
          <p>
            Fill out our prequalification form and Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
          </p>
        </div>
        <div id="step2" class="col-sm-12 step-text">
          <p>
            Then Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
          </p>
        </div>
        <div id="step3" class="col-sm-12 step-text">
          <p>
            Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam v
          </p>
        </div>
      </div>


      <%= render "caredes/modules/article", title: "What is a Pawn Loan?", article_text: "We use all the research tools we have at our disposal to determine an item’s value and get you the most money we can. This appraisal process for a pawn item varies depending on the type of item—for example, jewelry is evaluated differently than a DVD player—but every appraisal is done with the intent of getting you the money you need." %>


      <%= render "caredes/modules/disclaimer" %>



      <h2>h2 Layout Templates</h2>
      <h3>h3 heading text</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente sint a error ab id esse inventore omnis explicabo voluptate ipsum numquam veniam cupiditate eligendi perspiciatis libero pariatur nulla at nostrum!
      </p>
      <ul>
        <li>
          <%= link_to "Two Column Template", caredes_caredes_tcc_path %>
        </li>

        <li>
          <%= link_to "One Column Template", caredes_caredes_occ_path %>
        </li>
      </ul>

    </div><!-- End Main Content -->


    <!-- Sidebar -->
    <aside class="side-bar col-sm-4 col-sm-pull-8">
      <div class="side-bar-inner">


        <%= render "caredes/modules/store_locator" %>


        <!-- subnav - refactor -->
        <div class="ca-module service-subnav">
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a>Pawn Loans</a>
            </li>
            <li>
              <%= link_to "Frequently Asked Questions", caredes_faq_path %>
            </li>
          </ul>
        </div>
        <hr>

        <%= render "caredes/modules/promotions" %>
        <%= render "caredes/modules/light_promo" %>

      </div>
    </aside> <!-- End Sidebar -->


  </div>
</div>








<% end %>

<% content_for :footer do %>
<%= render "caredes/modules/footer" %>
<% end %>