<% content_for :head do %>
		<%= render "caredes/modules/head", page_title: "Two Column Template" %>
<% end %>

<% content_for :header do %>
		<%#= render "caredes/modules/header" %>
<% end %>

<% content_for :hero do %>
		<%= render "caredes/modules/hero", cols: "eight", headline_text: "Templates and Components" %>
<% end %>


<% content_for :main_content do %>
		<div class="page-container container"> <!-- Main Page Content -->
				<div class="row">
						<div class="main-body col-sm-8 col-sm-push-4" role="content"> <!-- Main Content -->

              <%= render "caredes/modules/article", title: "What is a Pawn Loan?", article_text: "We use all the research tools we have at our disposal to determine an item’s value and get you the most money we can. This appraisal process for a pawn item varies depending on the type of item—for example, jewelry is evaluated differently than a DVD player—but every appraisal is done with the intent of getting you the money you need." %>

 
              <%= render "caredes/modules/disclaimer" %>

              

              <h2>h2 Layout Templates</h2>
              <h3>h3 heading text</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente sint a error ab id esse inventore omnis explicabo voluptate ipsum numquam veniam cupiditate eligendi perspiciatis libero pariatur nulla at nostrum!
              </p>
              <ul>
                <li>
                  <%= link_to "Two Column Template", caredes_caredes_tcc_path %>
                </li>

                <li>
                  <%= link_to "One Column Template", caredes_caredes_occ_path %>
                </li>
              </ul>

						</div><!-- End Main Content -->



				</div>
		</div>








<% end %>

<% content_for :footer do %>
		<%= render "caredes/modules/footer" %>
<% end %>