<!DOCTYPE html>
<!--[if LT IE 9]>
<html class="lt-ie9">
<![endif]-->
<html>
<head>
  <title>Timothyproffitt | Casham </title>
  <%= stylesheet_link_tag    "casham", media: "all", "data-turbolinks-track" => true %>

<!--[if lt IE 9]>
  <%= javascript_include_tag "polyfills/html5shiv.js" %>
<![endif]-->

  <%= csrf_meta_tags %>
</head>
<body class="casham">

    <%= yield %>

<div class="container">
    <%= debug(params) if Rails.env.development? %>
</div>
<%= javascript_include_tag "casham", "data-turbolinks-track" => true %>
</body>
</html>